<!-- Gentelella CSS: include in block head -->
<link rel="stylesheet" href="{{=URL('static','gentelella/vendors/bootstrap/dist/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','gentelella/vendors/font-awesome/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','gentelella/vendors/nprogress/nprogress.css')}}">
<link rel="stylesheet" href="{{=URL('static','gentelella/vendors/iCheck/skins/flat/green.css')}}">
<link rel="stylesheet" href="{{=URL('static','gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','gentelella/vendors/jqvmap/dist/jqvmap.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css')}}">
<link rel="stylesheet" href="{{=URL('static','gentelella/build/css/custom.min.css')}}">
